<div class="container">
    <div class="languages">
        <button>uzbek</button>
        <button>uzbek</button>
        <button>uzbek</button>
        <button>uzbek</button>
    </div>

    <div class="paginition_part">
        <button class="finish_test_button">testni yakunlash</button>
        <div class="paginition">
            <!-- content in this Section -->
            <!-- <div class="content">
                <h3>Interview Experiences:</h3>
                <article>
                    Share Your Questions/Experience or share
                    your "Interview Experience", please mail
                    your interview experience to
                    review-team@geeksforgeeks.org. Also, to
                    share interview questions, please add
                    questions at Contribute a Question! You
                    can also find company specific Interview
                    Questions at our PRACTICE portal !
                </article>
            </div> -->
            <!-- pagination elements -->
            <div class="pagination_section">
                <a href="#"> Previous </a>
                <a href="#" title="Algorithm"> 1 </a>
                <a href="#" title="DataStructure"> 2 </a>
                <a href="#" title="Languages"> 3 </a>
                <a href="#" title="Interview" class="active"> 4 </a>
                <a href="#" title="practice"> 5 </a>
                <a href="#"> Next </a>
            </div>
        </div>
        <div class="timer">
            <div id="app"></div>
        </div>
    </div>

    <div class="question_part">
        <p>90km/soat tezlikda harakatlanayotgan</p>
        <div class="line"></div>
        <div class="variants_part">
            <div class="image_part">
                <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D" alt="" />
            </div>
            <div class="variant">
                <input type="text" value="nimadir" disabled />
                <input type="text" value="nimadir" disabled />
                <input type="text" value="nimadir" disabled />
            </div>
        </div>
    </div>
</div>